---
import "../styles/footer.scss";
import Logo from "@assets/logo-a.svg";
const year = new Date().getFullYear();

const quickLinks = [
  { href: "/", label: "Home" },
  { href: "/hire", label: "Hire" },
  { href: "/services", label: "Services" },
  { href: "/about", label: "About us" },
  { href: "/contact", label: "Contact us" },
];

const legalLinks = [
  { href: "/terms", label: "Terms and conditions" },
  { href: "/privacy", label: "Privacy policy" },
];
---

<footer class="yta-footer">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-10">
    <!-- Top band: logo + tagline -->
    <div class="grid grid-cols-1 md:grid-cols-12 items-center gap-6">
      <!-- logo -->
      <a
        href="/"
        class="md:col-span-2 inline-flex items-center gap-3"
        aria-label="YTA — Your Team in Asia"
      >
        <div
          class="w-auto rounded-md flex items-center justify-center yta-logo"
        >
          {Logo && <img src={Logo.src} alt="YTA Logo" class="w-auto" />}
        </div>
      </a>

      <!-- tagline -->
      <p class="md:col-span-10 text-center md:text-right text-lead">
        Just Your Team in Asia - Your Offshoring Partner
      </p>
    </div>

    <!-- Divider -->
    <hr class="yta-divider" />
    <div class="flex lg:flex-col items-start lg:items-stretch justify-between">
      <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
        <h3 class="md:col-span-2 footer-titles">Quick Links</h3>
        <nav class="md:col-span-10">
          <ul
            class="link-set flex-col md:flex lg:flex-row flex-wrap gap-x-8 gap-y-3 justify-start md:justify-end"
          >
            {
              quickLinks.map((l) => (
                <li>
                  <a href={l.href} class="yta-link">
                    {l.label}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>

      <!-- Divider -->
      <hr class="yta-divider hidden lg:block" />

      <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
        <h3 class="md:col-span-2 footer-titles">Legal</h3>
        <nav class="md:col-span-10">
          <ul
            class="link-set flex-col md:flex lg:flex-row flex-wrap gap-x-8 gap-y-3 justify-start md:justify-end"
          >
            {
              legalLinks.map((l) => (
                <li>
                  <a href={l.href} class="yta-link">
                    {l.label}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>

      <!-- Divider -->

    </div>
    <hr class="yta-divider hidden lg:block" />
    <!-- Link sections -->

    <!-- Link sections -->
    <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
      <h3 class="md:col-span-2 footer-titles mobile-title">Contact us</h3>
      <nav class="md:col-span-10">
        <ul class="address-area flex flex-wrap gap-x-8 gap-y-3 justify-start md:justify-end">
          <li>
            <a href="#" class="yta-link"
              >Your Team in Asia, No 2, Frederick Street Kings Cross London,
              WC1X 0ND United Kingdom</a
            >
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <path
                d="M9.20817 12.9587L7.6665 14.5003C7.3415 14.8253 6.82484 14.8253 6.4915 14.5087C6.39984 14.417 6.30817 14.3337 6.2165 14.242C5.35817 13.3753 4.58317 12.467 3.8915 11.517C3.20817 10.567 2.65817 9.61699 2.25817 8.67533C1.8665 7.72533 1.6665 6.81699 1.6665 5.95033C1.6665 5.38366 1.7665 4.84199 1.9665 4.34199C2.1665 3.83366 2.48317 3.36699 2.92484 2.95033C3.45817 2.42533 4.0415 2.16699 4.65817 2.16699C4.8915 2.16699 5.12484 2.21699 5.33317 2.31699C5.54984 2.41699 5.7415 2.56699 5.8915 2.78366L7.82484 5.50866C7.97484 5.71699 8.08317 5.90866 8.15817 6.09199C8.23317 6.26699 8.27484 6.44199 8.27484 6.60033C8.27484 6.80033 8.2165 7.00033 8.09984 7.19199C7.9915 7.38366 7.83317 7.58366 7.63317 7.78366L6.99984 8.44199C6.90817 8.53366 6.8665 8.64199 6.8665 8.77533C6.8665 8.84199 6.87484 8.90033 6.8915 8.96699C6.9165 9.03366 6.9415 9.08366 6.95817 9.13366C7.10817 9.40866 7.3665 9.76699 7.73317 10.2003C8.10817 10.6337 8.50817 11.0753 8.9415 11.517C9.02484 11.6003 9.1165 11.6837 9.19984 11.767C9.53317 12.092 9.5415 12.6253 9.20817 12.9587Z"
                fill="#111827"></path>
              <path
                d="M18.3083 15.7757C18.3083 16.009 18.2667 16.2507 18.1833 16.484C18.1583 16.5507 18.1333 16.6174 18.1 16.684C17.9583 16.984 17.775 17.2674 17.5333 17.534C17.125 17.984 16.675 18.309 16.1667 18.5174C16.1583 18.5174 16.15 18.5257 16.1417 18.5257C15.65 18.7257 15.1167 18.834 14.5417 18.834C13.6917 18.834 12.7833 18.634 11.825 18.2257C10.8667 17.8174 9.90833 17.2674 8.95833 16.5757C8.63333 16.334 8.30833 16.0924 8 15.834L10.725 13.109C10.9583 13.284 11.1667 13.4174 11.3417 13.509C11.3833 13.5257 11.4333 13.5507 11.4917 13.5757C11.5583 13.6007 11.625 13.609 11.7 13.609C11.8417 13.609 11.95 13.559 12.0417 13.4674L12.675 12.8424C12.8833 12.634 13.0833 12.4757 13.275 12.3757C13.4667 12.259 13.6583 12.2007 13.8667 12.2007C14.025 12.2007 14.1917 12.234 14.375 12.309C14.5583 12.384 14.75 12.4924 14.9583 12.634L17.7167 14.5924C17.9333 14.7424 18.0833 14.9173 18.175 15.1257C18.2583 15.334 18.3083 15.5424 18.3083 15.7757Z"
                fill="#111827"></path>
            </svg>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <path
                d="M14.1665 3.41699H5.83317C3.33317 3.41699 1.6665 4.66699 1.6665 7.58366V13.417C1.6665 16.3337 3.33317 17.5837 5.83317 17.5837H14.1665C16.6665 17.5837 18.3332 16.3337 18.3332 13.417V7.58366C18.3332 4.66699 16.6665 3.41699 14.1665 3.41699ZM14.5582 8.49199L11.9498 10.5753C11.3998 11.017 10.6998 11.2337 9.99984 11.2337C9.29984 11.2337 8.5915 11.017 8.04984 10.5753L5.4415 8.49199C5.17484 8.27533 5.13317 7.87533 5.3415 7.60866C5.55817 7.34199 5.94984 7.29199 6.2165 7.50866L8.82484 9.59199C9.45817 10.1003 10.5332 10.1003 11.1665 9.59199L13.7748 7.50866C14.0415 7.29199 14.4415 7.33366 14.6498 7.60866C14.8665 7.87533 14.8248 8.27533 14.5582 8.49199Z"
                fill="#111827"></path>
            </svg>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <path
                d="M14.0182 4.779C13.4072 4.07861 13.04 3.16536 13.04 2.16699H12.2744C12.4716 3.25824 13.1212 4.19471 14.0182 4.779Z"
                fill="#111827"></path>
              <path
                d="M6.93483 10.421C5.60865 10.421 4.52993 11.5006 4.52993 12.8279C4.52993 13.7528 5.05575 14.5576 5.8213 14.9601C5.53519 14.5654 5.36507 14.0817 5.36507 13.5554C5.36507 12.2281 6.44379 11.1485 7.77 11.1485C8.01744 11.1485 8.25714 11.191 8.4814 11.2607V8.33526C8.24939 8.30427 8.01357 8.2849 7.77 8.2849C7.72745 8.2849 7.68878 8.28877 7.64625 8.28877V10.5332C7.41813 10.4635 7.18228 10.421 6.93483 10.421Z"
                fill="#111827"></path>
              <path
                d="M16.1871 6.06373V8.28877C14.7024 8.28877 13.326 7.81283 12.2047 7.00792V12.8318C12.2047 15.7379 9.84233 18.1062 6.93476 18.1062C5.81351 18.1062 4.76958 17.7501 3.9151 17.1503C4.87784 18.1835 6.25041 18.8337 7.76994 18.8337C10.6736 18.8337 13.0398 16.4693 13.0398 13.5593V7.73542C14.1611 8.54033 15.5375 9.01627 17.0222 9.01627V6.15276C16.7322 6.15276 16.4539 6.12177 16.1871 6.06373Z"
                fill="#111827"></path>
              <path
                d="M12.2047 12.8318V7.00792C13.326 7.81283 14.7024 8.28877 16.1871 8.28877V6.06373C15.3287 5.8819 14.5749 5.41752 14.0182 4.779C13.1211 4.19471 12.4753 3.25824 12.2704 2.16699H10.1748L10.1709 13.6483C10.1246 14.933 9.06514 15.9662 7.76994 15.9662C6.9657 15.9662 6.25815 15.5676 5.81738 14.964C5.05183 14.5576 4.526 13.7567 4.526 12.8318C4.526 11.5045 5.60472 10.4248 6.9309 10.4248C7.17835 10.4248 7.41807 10.4674 7.64232 10.5371V8.29265C4.79665 8.35457 2.5 10.6918 2.5 13.5593C2.5 14.9446 3.03743 16.2062 3.9151 17.1503C4.76958 17.7501 5.81351 18.1062 6.93476 18.1062C9.83845 18.1062 12.2047 15.7379 12.2047 12.8318Z"
                fill="#111827"></path>
            </svg>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9.99984 2.16699C7.7365 2.16699 7.45317 2.17644 6.56428 2.21699C5.67706 2.25755 5.07095 2.39866 4.54095 2.60477C3.98539 2.81366 3.4815 3.14144 3.06484 3.56588C2.64107 3.98207 2.31309 4.4856 2.10373 5.04144C1.89873 5.57144 1.75706 6.1781 1.7165 7.06533C1.6765 7.95366 1.6665 8.23644 1.6665 10.5003C1.6665 12.7642 1.67595 13.047 1.7165 13.9359C1.75706 14.8231 1.89817 15.4292 2.10428 15.9592C2.31317 16.5148 2.64095 17.0187 3.06539 17.4353C3.48159 17.8591 3.98512 18.1871 4.54095 18.3964C5.07095 18.602 5.67706 18.7431 6.56428 18.7837C7.45317 18.8242 7.7365 18.8337 9.99984 18.8337C12.2632 18.8337 12.5465 18.8242 13.4354 18.7837C14.3226 18.7431 14.9287 18.602 15.4587 18.3959C16.0143 18.187 16.5182 17.8592 16.9348 17.4348C17.3586 17.0186 17.6866 16.5151 17.8959 15.9592C18.1015 15.4292 18.2426 14.8231 18.2832 13.9359C18.3237 13.047 18.3332 12.7637 18.3332 10.5003C18.3332 8.23699 18.3237 7.95366 18.2832 7.06477C18.2426 6.17755 18.1015 5.57144 17.8954 5.04144C17.6862 4.48536 17.3582 3.98162 16.9343 3.56533C16.5181 3.14156 16.0146 2.81358 15.4587 2.60421C14.9287 2.39921 14.3221 2.25755 13.4348 2.21699C12.5465 2.17699 12.2637 2.16699 9.99984 2.16699ZM9.99984 3.66866C12.2248 3.66866 12.4887 3.67699 13.3676 3.71699C14.1798 3.75421 14.6209 3.88921 14.9148 4.00421C15.3037 4.15477 15.5815 4.33588 15.8732 4.62699C16.1648 4.91866 16.3454 5.19644 16.4959 5.58533C16.6104 5.87921 16.7459 6.32033 16.7832 7.13255C16.8232 8.01144 16.8315 8.27533 16.8315 10.5003C16.8315 12.7253 16.8232 12.9892 16.7832 13.8681C16.7459 14.6803 16.6109 15.1214 16.4959 15.4153C16.3626 15.7773 16.1498 16.1048 15.8732 16.3737C15.6043 16.6503 15.2768 16.8631 14.9148 16.9964C14.6209 17.1109 14.1798 17.2464 13.3676 17.2837C12.4887 17.3237 12.2254 17.332 9.99984 17.332C7.77428 17.332 7.51095 17.3237 6.63206 17.2837C5.81984 17.2464 5.37873 17.1114 5.08484 16.9964C4.72287 16.8631 4.3954 16.6503 4.1265 16.3737C3.84994 16.1047 3.63713 15.7773 3.50373 15.4153C3.38928 15.1214 3.25373 14.6803 3.2165 13.8681C3.1765 12.9892 3.16817 12.7253 3.16817 10.5003C3.16817 8.27533 3.1765 8.01144 3.2165 7.13255C3.25373 6.32033 3.38873 5.87921 3.50373 5.58533C3.65428 5.19644 3.83539 4.91866 4.1265 4.62699C4.39536 4.35035 4.72284 4.13753 5.08484 4.00421C5.37873 3.88977 5.81984 3.75421 6.63206 3.71699C7.51095 3.67699 7.77484 3.66866 9.99984 3.66866Z"
                fill="#111827"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9.99985 13.2809C9.6347 13.2809 9.27313 13.209 8.93578 13.0692C8.59843 12.9295 8.2919 12.7247 8.0337 12.4665C7.7755 12.2083 7.57069 11.9018 7.43095 11.5644C7.29122 11.227 7.2193 10.8655 7.2193 10.5003C7.2193 10.1352 7.29122 9.77361 7.43095 9.43625C7.57069 9.0989 7.7755 8.79237 8.0337 8.53418C8.2919 8.27598 8.59843 8.07116 8.93578 7.93143C9.27313 7.79169 9.6347 7.71977 9.99985 7.71977C10.7373 7.71977 11.4445 8.01272 11.966 8.53418C12.4875 9.05563 12.7804 9.76288 12.7804 10.5003C12.7804 11.2378 12.4875 11.945 11.966 12.4665C11.4445 12.9879 10.7373 13.2809 9.99985 13.2809ZM9.99985 6.21699C8.86384 6.21699 7.77436 6.66827 6.97108 7.47155C6.1678 8.27483 5.71652 9.36432 5.71652 10.5003C5.71652 11.6363 6.1678 12.7258 6.97108 13.5291C7.77436 14.3324 8.86384 14.7837 9.99985 14.7837C11.1359 14.7837 12.2253 14.3324 13.0286 13.5291C13.8319 12.7258 14.2832 11.6363 14.2832 10.5003C14.2832 9.36432 13.8319 8.27483 13.0286 7.47155C12.2253 6.66827 11.1359 6.21699 9.99985 6.21699ZM15.5293 6.13921C15.5293 6.40775 15.4226 6.66528 15.2327 6.85516C15.0429 7.04504 14.7853 7.15171 14.5168 7.15171C14.2483 7.15171 13.9907 7.04504 13.8009 6.85516C13.611 6.66528 13.5043 6.40775 13.5043 6.13921C13.5043 5.87068 13.611 5.61315 13.8009 5.42327C13.9907 5.23339 14.2483 5.12671 14.5168 5.12671C14.7853 5.12671 15.0429 5.23339 15.2327 5.42327C15.4226 5.61315 15.5293 5.87068 15.5293 6.13921Z"
                fill="#111827"></path>
            </svg>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <path
                d="M18.3332 3.39248V17.6082C18.3332 17.9332 18.2041 18.2449 17.9742 18.4747C17.7444 18.7045 17.4327 18.8337 17.1077 18.8337H2.89199C2.56697 18.8337 2.25527 18.7045 2.02544 18.4747C1.79562 18.2449 1.6665 17.9332 1.6665 17.6082V3.39248C1.6665 3.06746 1.79562 2.75575 2.02544 2.52593C2.25527 2.29611 2.56697 2.16699 2.89199 2.16699H17.1077C17.4327 2.16699 17.7444 2.29611 17.9742 2.52593C18.2041 2.75575 18.3332 3.06746 18.3332 3.39248V3.39248ZM6.56846 8.53954H4.11748V16.3827H6.56846V8.53954ZM6.78905 5.84346C6.79035 5.65807 6.75511 5.47423 6.68535 5.30245C6.61559 5.13067 6.51268 4.97432 6.3825 4.84231C6.25231 4.71031 6.0974 4.60524 5.92661 4.5331C5.75582 4.46097 5.57249 4.42318 5.38709 4.42189H5.34297C4.96595 4.42189 4.60437 4.57167 4.33777 4.83826C4.07118 5.10486 3.92141 5.46644 3.92141 5.84346C3.92141 6.22049 4.07118 6.58207 4.33777 6.84866C4.60437 7.11526 4.96595 7.26503 5.34297 7.26503V7.26503C5.52838 7.26959 5.71288 7.23758 5.88591 7.17081C6.05894 7.10405 6.21712 7.00384 6.35141 6.87592C6.4857 6.74801 6.59348 6.59488 6.66857 6.4253C6.74366 6.25571 6.7846 6.07299 6.78905 5.88758V5.84346ZM15.8822 11.618C15.8822 9.26013 14.3822 8.34346 12.892 8.34346C12.4041 8.31903 11.9183 8.42295 11.4831 8.64487C11.0478 8.86678 10.6784 9.19892 10.4116 9.60817H10.343V8.53954H8.03905V16.3827H10.49V12.2111C10.4546 11.7839 10.5892 11.3599 10.8645 11.0313C11.1399 10.7027 11.5338 10.4961 11.9606 10.4562H12.0538C12.8332 10.4562 13.4116 10.9464 13.4116 12.1817V16.3827H15.8626L15.8822 11.618Z"
                fill="#111827"></path>
            </svg>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Divider -->
    <hr class="yta-divider my-6" />

    <!-- Bottom bar -->
    <div
      class="flex flex-col md:flex-row items-center md:items-center justify-center gap-4"
    >
      <p class="text-copyright">
        © {year}
        <a href="/" class="yta-link footer-copyrights font-medium"
          >Your Team in Asia</a
        >. All rights reserved.
      </p>

      <div class="hidden items-center gap-4">
        <!-- LinkedIn -->
        <a
          href="https://www.linkedin.com"
          aria-label="LinkedIn"
          class="yta-icon"
        >
          <svg
            viewBox="0 0 24 24"
            class="h-5 w-5"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="M4.98 3.5C4.98 4.88 3.86 6 2.5 6S0 4.88 0 3.5 1.12 1 2.5 1s2.48 1.12 2.48 2.5zM.5 8h4V23h-4V8zm7.5 0h3.8v2.05h.05c.53-1 1.84-2.05 3.79-2.05 4.05 0 4.8 2.67 4.8 6.15V23h-4v-6.6c0-1.58-.03-3.61-2.2-3.61-2.2 0-2.54 1.72-2.54 3.5V23h-4V8z"
            ></path>
          </svg>
        </a>
        <!-- Phone -->
        <a href="tel:+0000000000" aria-label="Call us" class="yta-icon">
          <svg
            viewBox="0 0 24 24"
            class="h-5 w-5"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="M6.62 10.79a15.05 15.05 0 006.59 6.59l2.2-2.2a1 1 0 011.02-.24c1.12.37 2.33.57 3.57.57a1 1 0 011 1V21a1 1 0 01-1 1C10.4 22 2 13.6 2 3a1 1 0 011-1h3.5a1 1 0 011 1c0 1.24.2 2.45.57 3.57a1 1 0 01-.25 1.02l-2.2 2.2z"
            ></path>
          </svg>
        </a>
        <!-- Email -->
        <a
          href="mailto:hello@yta.example"
          aria-label="Email us"
          class="yta-icon"
        >
          <svg
            viewBox="0 0 24 24"
            class="h-5 w-5"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="M20 4H4a2 2 0 00-2 2v12a2 2 0 002 2h16a2 2 0 002-2V6a2 2 0 00-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
